@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div style="text-align:center">This website is about dvizhuxa dpils</div>
<i>dimka@gmail.com</i>
<hr>
telnum  +32123141343214324